<div class="d-flex flex-column align-items-start bg-white pr-3" style="width: 220px;">
    
    <ul class="nav nav-pills flex-column mb-auto w-100">
        <li class="nav-item"><a href="#" class="nav-link text-dark"><i class="bi bi-house-door-fill"></i> 홈</a></li>
        <li><a href="#" class="nav-link text-dark"><i class="bi bi-search"></i> 검색</a></li>
        <li><a href="#" class="nav-link text-dark"><i class="bi bi-send-fill"></i> 메시지</a></li>
        <li><a href="#" class="nav-link text-dark"><i class="bi bi-heart-fill"></i> 알림</a></li>
        <li><a href="/post/create-view" class="nav-link text-dark"><i class="bi bi-plus-square"></i> 만들기</a></li>
        <li><a href="#" class="nav-link text-dark"><i class="bi bi-person-fill"></i> 프로필</a></li>
    </ul>

</div>