@charset "UTF-8";

#wrap {
    width:800px;
    margin:0 auto;
}

.main-contents {
    width:430px;
}

.login-box {
    width:400px;
}

.big-font {
    font-size:20px;
}

.img-icon {
	font-size:23px;
}

.nav-link:hover {
	background-color: #f8f9fa;
  	font-weight: 500;
}
